.sidebar{
  flex: 3.5;
  height: calc(100vh - 50px);
  
}
.sidebarWraper{
  padding: 20px;

}
.sidebarList{
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebarListItem{
display: flex;
align-items: center;
margin-bottom: 20px;
}
.sidebarIcon{
  margin-right: 20px;
}